{% extends "dashboard/home.html" %}

{% block content %}
<h1>Accounts</h1>

{% if accounts|length %}
    <table class="data-table">
        <thead>
            <tr>
                <td>Name</td>
                <td>Type</td>
                <td>Attribute</td>
            </tr>
            {% for account in accounts %}
            <tr>
                <td><a href="{% url 'dashboard-account' id=account.id %}">{{account.name}}</a></td>
                <td>{{account.type.short_name}}</td>
                <td>{{account.attribute.short_name}}</td>
            </tr>
            {% endfor %}
        </thead>
    </table>
{% else %}
    <span>No account is associated {{request.user.email}}</span>
{% endif %}

<a href="{% url 'dashboard-account-create' %}">Create a new account</a>
{% endblock %}