{% extends "base.html" %}
{% block title %}Dollarify - {{object.name}} {% endblock %}

{% block content %}

<h1>{{ object.name }}</h1>
<h4>{{ object.id }}</h4>
<span>USD/CAD: {{USD_to_CAD_rate}}</span>
<span>CAD/USD: {{CAD_to_USD_rate}}</span>


<div>
    <h3>Trades</h3>
    <table>
        <thead>
            <tr>
                <td>Ticker</td>
                <td>Bought On</td>
                <td>Shares</td>
                <td>Buy Value (~$)</td>
                <td>Fees ($)</td>
                <td>Sold Price (~$)</td>
                <td>Sold On</td>
                <td>Last Value (~$)</td>
                <td>Total Value ($)</td>

                <td>Profit ($)</td>
                <td>Profit (%)</td>
                <td>Duration</td>
                <td>Currency</td>
                <td>&#x1F5D1;</td>
            </tr>
        </thead>
        <tbody>
            {% for trade in trades %}
            <tr>
                <td>{{ trade.ticker }}</td>
                <td>{{ trade.bought_on|date:"Y-m-d" }}</td>
                <td>{{ trade.amount }}</td>
                <td>{{ trade.bought_value }}</td>
                <td>{{ trade.fees }}</td>
                <td>{{ trade.sold_value }}</td>
                <td>{{ trade.sold_on|date:"Y-m-d" }}</td>
                <td>{{ trade.last_value }}</td>
                <td>{{ trade.total_value }}</td>

                <td>{{ trade.profit }}</td>
                <td>{{ trade.profit_percent }}</td>
                <td>{{ trade.duration }}</td>
                <td>{{ trade.currency }}</td>
                <td><a href="{% url 'dashboard:stock-market-del-trade' id=object.id pk=trade.pk %}">&#9746;</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


<a href="{% url 'dashboard:stock-market-new-trade' id=object.id %}">Add a trade</a>

<a href="{% url 'dashboard:overview' %}">Go back to my dashboard</a>
<a href="{% url 'dashboard:stock-market-account-remove' id=object.id %}">Delete this account</a>
{% endblock %}