{% extends "form-template.html" %}

{% block title %}Dollarify - Change Password{% endblock %}

{% block form-content %}
  <h2>Password Change</h2>
  <p>Enter your authentication information below to change your password.</p>

  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Apply changes">
  </form>
  <div class="form-links">
    {% if request.user.is_authenticated %}
    <a href="{%  url 'home' %}">Back to home page</a>
    {% else %}
    <a href="{%  url 'dashboard:overview' %}">Back to home page</a>
    {% endif %}
  </div>
{% endblock %}