@use './color' as color;

@mixin hyperlink-default($fg-color, $underline: true) {
    color: $fg-color;
    @if not $underline {
        text-decoration: none;
    }

    &:hover, &:focus {
        color: lighten($fg-color, 10%);
    }
}

a {
    @include hyperlink-default(color.get(body-color));
}

.hyperlink-button {
    @include hyperlink-default(color.get(body-color), false);
}