@mixin hyperlink-default($underline: true) {
    color: theme(body-color);
    @if not $underline {
        text-decoration: none;
    }

    &:hover, &:focus {
        color: lighten(theme(body-color));
    }
}