{% extends "base.html" %}
{% block title %}Dollarify - Dashboard {% endblock %}

{% block content %}
<h1>Dashboard</h1>
<div>
    <h3>Accounts</h3>
    <div>
        <h4>Stock Market (<a href="{% url 'dashboard:stock-market-account-create' %}">new</a>)</h4>
        <ul>
            {% for stock_market_account in stock_market_accounts %}
            <li>
                <a href="{% url 'dashboard:stock-market-account-detail' id=stock_market_account.id %}">{{stock_market_account.name}}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <h4>Checking (<a href="#">new</a>)</h4>
        <ul>
            {% for checking_account in checking_accounts %}
            <li>
                <a href="#">{{checking_account.name}}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div>
    </div>
</div>
{% endblock %}