@use 'sass:color';
@use './theme.scss' as theme;


.home-container {
    text-align: center;
    width: fit-content;
    margin: 5rem auto 0 auto;
    padding: 4rem;
    background-color: color.scale(theme.color(body-bg), $lightness:80%);

    h1, h2 {
        font-weight: 300;
    }

    ul {
        font-size: 1.2rem;
        margin-top: 3rem;
        list-style: none;
        text-align: left;
    }


    .logo {
        width: 30rem;
        margin-bottom: 2rem;
    }

}