@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;1,400&display=swap');


$palette: (
    font: (
        base: #1D2023,
        lighter: #34373B,
        light: #FCFCFD,
        link: #26538d
    ),
    bg: (
        white: #FCFCFD,
        grayish: #e6e6e9,
    ),
    border: (
        blue: rgb(214, 214, 233),
    ),
);


@function color($color, $tone:base){

    @if map-has-key($palette,$color){
        $color: map-get($palette,$color);

            @if map-has-key($color,$tone){
                $tone: map-get($color,$tone);
                @return $tone;
            }

            @warn "unknown tone `#{$tone}` in color";
            @return null;        
    }

    @warn "unknown color `#{$color}` in palette";
    @return null;
}


:root {
    font-size: 12px;
}


* {
    font-family: 'Raleway', sans-serif;
    color: color(font);
    margin: 0;
    padding: 0;
}

a {
    color: color(font, link);
    text-decoration: none;
    &::before{
        content: '🔗';
    }
}


table {
    border-collapse: collapse;
    thead {
        text-align: center;
    }
    
    td {
         border: 1px solid black;
    }
}

.dropdown {
    display: inline-block;
    position: relative;

    button {
        border: none;
    }

    > button::after {
        content: '▾';
    }

    &:hover {
        // BG color
    }

.dropdown-content-visible {
    display: block;
}

}

.dropdown-content {
    background-color: white;
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

    a {
        display: block;
        color: #000000;
        padding: 5px;
        text-decoration: none;
    }
}