@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;1,400&display=swap');


$palette: (

    // generic: (
    //     //
    // ),
    // border: (
    // ),
    font: (
        white: white,
        base: #6E768E,
        hover: #348CD4,
        link: #26538d
    ),
    bg: (
        white: white,
        hover: #F2F8FB,
        main: #ECF2F5,
        header: #348CD4,
        sidebar: white,
        footer: #E4ECF1,
    ),
    border: (
        blue: rgb(214, 214, 233),
    ),
);


@function color($color, $tone:base){

    @if map-has-key($palette,$color){
        $color: map-get($palette,$color);

            @if map-has-key($color,$tone){
                $tone: map-get($color,$tone);
                @return $tone;
            }

            @warn "unknown tone `#{$tone}` in color";
            @return null;        
    }

    @warn "unknown color `#{$color}` in palette";
    @return null;
}


:root {
    font-size: 12px;
}


* {
    font-family: 'Raleway', sans-serif;
    color: color(font, base);
    margin: 0;
    padding: 0;
}

a {
    color: color(font, link);
    text-decoration: none;
    &::before{
        // content: '🔗';
    }

    &:hover {
        color: color(font, hover);
    }
}


table {
    border-collapse: collapse;
    thead {
        text-align: center;
    }
    
    td {
         border: 1px solid black;
    }
}

.show {
    display: block !important;
}


/* Dropdowns */

.dropdown {
    display: inline-block;
    position: relative;

    .dropdown-toggle {
        border: none;

        &::after {
            content: '▾';
        }
    }

    &:hover {
        background-color: color(bg, hover);
    }
}


.dropdown-menu {
    background-color: color(bg,white);
    display: none;
    position: absolute;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

    a {
        display: inline-block;
        clear: both;
        white-space: nowrap;
        color: color(font, base);
        padding: 5px;
        text-decoration: none;
        &:hover {
            color: color(font, base);
        }
    }
}