{% extends "core/dashboard/dashboard.html" %}
{% load format %}
{% load static %}
{% load compress %}
{% block title %}Dollarify - {{object.name}} {% endblock %}


{% block head-extras %}
    {{block.super}}
    <script src="{% static 'script/income/data.js' %}" defer></script>
    <script src="{% static 'script/income/charts.js' %}" defer></script>
    <script src="{% static 'script/income/income.js' %}" defer></script>
{% endblock %}


{% block navbar-extras %}
{% compress css %}
<link type="text/x-sass" href="{% static 'style/account/income.scss' %}" rel="stylesheet" media="screen">
{% endcompress %}
<div class="navbar-item dropdown">
    <button class="dropdown-toggle fa-font-solid" onclick="toggle_dropdown_menu('income-account-dropdown');">
        <i class="fa-solid fa-pen-to-square"></i> <span>Paycheck</span> <i class="fa-solid fa-caret-down"></i>
    </button>
    <div id="income-account-dropdown" class="dropdown-menu">
        <a class="dropdown-item" href="{% url 'dashboard:income-new-paycheck' id=object.id %}">
            <i class="fa-solid fa-folder-plus"></i> <span>New Paycheck</span>
        </a>
        <a class="dropdown-item" href="{% url 'dashboard:income-import-paychecks' id=object.id %}">
            <i class="fa-solid fa-file-import"></i> <span>Import Paycheck List</span>
        </a>
    </div>
</div>
{% endblock %}


{% block dashboard-content %}
<h2 class="title">{{ object.name }}</h2>
<div class="cards-container">
    <div class="card dashboard-card orange">
        <div class="card-img">
            <i class="fa-solid fa-coins"></i>
        </div>
        <div class="card-info">
            <span class="card-value" id="total-revenu">Loading...</span>
            <br>
            <span class="card-name">Cumulated Revenue</span>
            <span class="card-name">All time</span>
        </div>
    </div>

    <div class="card dashboard-card teal">
        <div class="card-img">
            <i class="fa-solid fa-business-time"></i>
        </div>
        <div class="card-info">
            <span class="card-value" id="average-hours">Loading...</span>
            <br>
            <span class="card-name"></span>
            <span class="card-name">Average hours per week</span>
            <span class="card-name"></span>
        </div>
    </div>

    <div class="card dashboard-card indigo">
        <div class="card-img">
            <i class="fa-solid fa-money-bill-wave"></i>
        </div>
        <div class="card-info">
            <span class="card-value" id="ytd-revenu">Loading...</span>
            <br>
            <span class="card-name">Year-to-date Revenue</span>
        </div>
    </div>

    <div class="card dashboard-card yellow">
        <div class="card-img">
            <i class="fa-solid fa-money-bill-1-wave"></i>
        </div>
        <div class="card-info">
            <span class="card-value" id="average_rate_card">Loading...</span>
            <br>
            <span class="card-name">Average Hourly Rate</span>
        </div>
    </div>
</div>

<div id="charts-container">
    <div id="income-chart" class="chart"></div>
    <div id="hourly-rate-chart" class="chart"></div>
</div>

<div>
    <table id="data-table">
        <caption>Paychecks</caption>
        <thead>
            {% if paychecks|length %}
            <tr>
                <th>Earned <i>$</i></td>
                <th>Hours worked</th>
                <th>Week</th>
                <th>Over hours</th>
                <th>Hourly rate <i>$/H</i></th>
                <th><i class="fa-solid fa-gear"></i></th>
                <th><i class="fa-solid fa-trash-can"></i></i></th>
            </tr>
            {% else %}
            <tr><td>No paycheck listed yet ? <a class="underline" href="{% url 'dashboard:income-new-paycheck' id=object.id %}">Add one here</a> or <a class="underline" href="{% url 'dashboard:income-import-paychecks' id=object.id %}">load them from a spreadsheet</a>.</td></tr>
            {% endif %}
        </thead>
        <tbody>
            {% for paycheck in paychecks %}
            <tr>
                <td>{{ paycheck.amount|thousands_separated }}</td>
                <td>{{ paycheck.hours }}</td>
                <td>{{ paycheck.week }} </td>              
                <td>{{ paycheck.over_hours|significant_digits:0 }}</td>
                <td>{{ paycheck.hourly_rate|significant_digits}}</td>
                <td><a href="{% url 'dashboard:income-edit-paycheck' id=object.id pk=paycheck.pk %}"><i class="fa-solid fa-pen-nib"></i></a></td>
                <td><a href="{% url 'dashboard:income-del-paycheck' id=object.id pk=paycheck.pk %}"><i class="fa-solid fa-xmark"></i></a></td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="links-container">
    <a href="{% url 'dashboard:income-new-paycheck' id=object.id %}">Add a paycheck</a>
    <a href="{% url 'dashboard:income-import-paychecks' id=object.id %}">Import paychecks from spreadsheet</a>
    
    <a href="{% url 'dashboard:overview' %}">Go back to my dashboard</a>
    <a href="{% url 'dashboard:income-account-remove' id=object.id %}">Delete this account</a>
</div>
{% endblock %}