{% extends "core/dashboard/dashboard-form.html" %}
{% block title %}Dollarify - {{object.name}} {% endblock %}

{% block dashboard-content %}

<table>
    <caption>Income Sources</caption>
    <thead>
        <tr>
            <td>Name</td>
            <td>Verbose</td>
            <td><i class="fa-solid fa-gear"></i></td>
            <td><i class="fa-solid fa-trash-can"></i></td>
        </tr>
    </thead>
{% for object in object_list %}
    <tbody>
        <tr>
            <td>{{object.name}}</td>
            <td>{{object.verbose}}</td>

            <td><a href="{% url 'dashboard:income-source-edit' id=object.id %}"><i class="fa-solid fa-pen-nib"></i></a></td>
            <td><a href="{% url 'dashboard:income-source-delete' id=object.id %}"><i class="fa-solid fa-xmark"></i></a></td>
        </tr>
    </tbody>
    {% empty %}
    <p>No Income Source created yet. <a href="{% url 'dashboard:income-source-create' %}">Create one here</a></p>
    {% endfor %}
</table>
{% endblock %}