{% extends "base.html" %}

{% load compress %}
{% load static %}
{% block title %}Dollarify - Dashboard {% endblock %}



{% block content %}

{% compress css %}
<link type="text/x-scss" href="{% static 'style/dashboard.scss' %}" rel="stylesheet" media="screen">
{% endcompress %}
<div id="dashboard">
    <header>
        <h1>Dollarify</h1>
        <button>☰</button>

        <div class="dropdown">
            <button class="dropdown-button" onclick="getElementById('create-new-dropdown-content').classList.toggle('dropdown-content-visible')">Create new</button>
            <div id="create-new-dropdown-content" class="dropdown-content">
                <a href="#">Stock Market Account</a>
                <a href="#">Income Source</a>
            </div>
        </div>

    </header>
    <aside>
        <h1>Dashboard</h1>
        <div class="section">
            <h3>Accounts</h3>
            <div class="subsection">
                <h4>Stock Market (<a href="{% url 'dashboard:stock-market-account-create' %}">new</a>)</h4>
                <ul>
                    {% for stock_market_account in stock_market_accounts %}
                    <li>
                        <a href="{% url 'dashboard:stock-market-account-detail' id=stock_market_account.id %}">{{stock_market_account.name}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="subsection">
                <h4>Income (<a href="{% url 'dashboard:income-account-create' %}">new</a>)</h4>
                <ul>
                    {% for income_account in income_accounts %}
                    <li>
                        <a href="{% url 'dashboard:income-account-detail' id=income_account.id %}">{{income_account.name}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </aside>
    <main></main>
    <footer></footer>
</div>
<script src="{% static 'script/dropdown.js' %}"></script>
{% endblock %}