{% load static %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Gather and analyse your financials in a single place.">
    <meta name="application-name" content="Dollarify">
    <meta name="keywords" content="finance, analyze, money, stock market, data">
    <meta name="author" content="Fred Perron">
    <meta name="color-scheme" content="only light">
    <title>{% block title %}Dollarify{% endblock%}</title>
    {% compress css %}
    <link type="text/x-scss" href="{% static 'style/style.scss' %}" rel="stylesheet" media="screen">
    {% endcompress %}
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    {% block head-extras %}
    {% endblock %}
</head>
<body>
    {% block content %}

    {% endblock %}
</body>
</html>