{% extends "dashboard/home.html" %}

{% block content %}
<h1>Financial Entities</h1>

{% if entities|length %}
    <table class="data-table">
        <thead>
            <tr>
                <td>Name</td>
                <td>Description</td>
            </tr>
            {% for entity in entities %}
            <tr>
                <td><a href="{% url 'dashboard-financial-entity' id=entity.id %}">{{entity.name}}</a></td>
                <td>{{entity.description}}</td>
            </tr>
            {% endfor %}
        </thead>

    </table>
{% else %}
    <span>No financial entity is associated with {{request.user.email}}</span>
{% endif %}

<a href="{% url 'dashboard-financial-entity-create' %}">Create a new entity</a>
{% endblock %}